/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 10px -16px;
    
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
    color: black;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #06BBCC;
    color: white;
  }
  .content h4, p{
    color: black;
    padding-top: 2px;
  }
  #myBtnContainer{
    margin: 10px;
  }
  .gallery-section{
    margin-top: 7%;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
  }
  .content img:hover{
   
    /* transform: rotate(-90deg); */
  }

  /* media querries for phone display  */
  @media screen and (max-width:600px) {
    .row{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;

    }
    .column {
        width: auto;
    }
    .column p{
        display: none;
    }
    .column img p:hover{
        display: block;
        /* transform: rotate(-90deg); */
    }
    .column h4{
        font-size: 13px;
    }
    
  }